#edit-group-content-details .seven-details__wrapper.details-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

#double-column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#double-column #edit-field-delivery-model-wrapper,
#double-column #edit-field-pre-populate-products-wrapper {
  width: 49%;
}

#edit-group-content-details .seven-details__wrapper.details-wrapper .form-wrapper {
  width: 48%;
  margin: auto 0;
}

#edit-group-content-details .seven-details__wrapper.details-wrapper .field--name-field-point-of-contact.field--widget-inline-entity-form-complex {
  width: 100%;
}

#edit-group-content-details .seven-details__wrapper.details-wrapper .field--name-field-point-of-contact.field--widget-inline-entity-form-complex #edit-field-point-of-contact.form-wrapper {
  width: auto;
}

#edit-group-content-details .seven-details__wrapper.details-wrapper .field--name-field-point-of-contact *.form-wrapper {
  width: auto;
}

#edit-group-content-details .seven-details__wrapper.details-wrapper .form-wrapper select {
  width: 100%;
}

#edit-group-content-details .seven-details__wrapper.details-wrapper .form-wrapper select option{
  overflow: hidden;
}

.horizontal-tabs .seven-details {
  margin: 1em;
}

.horizontal-tabs ul.horizontal-tabs-list li a, .horizontal-tabs ul.horizontal-tabs-list li.selected a {
  padding: 0.5em 0.6em 0.6em 0.6em;
}

.seven-details__wrapper.details-wrapper {
  padding: 1em;
}

.entity-browser-iframe-container iframe {
  width: 99.9%;
}

details p {
  margin: 1em;
}

#life-cycle-relationships {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

#life-cycle-relationships .form-wrapper {
  width: 48%;
}

.paragraphs-subform {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.paragraphs-subform .form-wrapper {
  width: 48%;
}

#field-inputs-outputs-values .form-wrapper {
  width: initial;
}

#field-inputs-outputs-values tr.odd .form-item, tr.even .form-item {
  margin-bottom: 0;
}

#edit-field-inputs-outputs-1-subform-field-input-image-wrapper .paragraphs-subform .form-wrapper {
  width: 100%;
}

details.disabled .seven-details__summary {
  color: #bfbfbf;
  cursor: default;
}

.csv-feed.views-data-export-feed .feed-icon {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: normal;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 4px 1.5em;
  border: 1px solid #a6a6a6;
  border-radius: 20em;
  background-color: #f2f1eb;
  background-image: -webkit-linear-gradient(top,#f6f6f3,#e7e7df);
  background-image: linear-gradient(to bottom,#f6f6f3,#e7e7df);
  color: #333;
  text-decoration: none;
  text-shadow: 0 1px hsla(0,0%,100%,0.6);
  font-weight: 600;
  font-size: 14px;
  font-size: 0.875rem;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-font-smoothing: antialiased;
  text-indent: unset;
  height: unset;
  width: unset;
}

.csv-feed.views-data-export-feed .feed-icon:hover,
.csv-feed.views-data-export-feed .feed-icon:focus {
  box-shadow: 0 1px 2px hsla(0,0%,0%,0.125);
  background-color: #f9f8f6;
  background-image: -webkit-linear-gradient(top,#fcfcfa,#e9e9dd);
  background-image: linear-gradient(to bottom,#fcfcfa,#e9e9dd);
  color: #1a1a1a;
  text-decoration: none;
  outline: none;
}

span.select2-container--seven {
  width: 100% !important;
}

span.select2.select2-container.select2-container--default {
  width: 100% !important;
}
