<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

<div id="product_delivery">

  <ul class="nav nav-tabs">
    <li id="tableTab" class="active"><a data-toggle="tab" href="#tab1">Table</a></li>
    <li id="conditionalTab"><a data-toggle="tab" href="#tab2">Conditional</a></li>
  </ul>

  <div class="tab-content">
    <div id="tab1" class="tab-pane fade in active">
      <h3>TABLE SEARCH</h3>
      <div id="productDeliveryTable">
        <table id="deliveryModelTable" class="table table-sm table-striped table-bordered">
          <thead>
          <tr>
            <th scope="col" data-toggle="tooltip" data-placement="top" title="{{ hover_definitions['DELIVERY_MODEL_TOOLTIP'] }}">Delivery Models</th>
            <th scope="col" data-toggle="tooltip" data-placement="top" title="{{ hover_definitions['SYSTEM_VENDOR_TOOLTIP'] }}">System Vendors</th>
            <th scope="col" data-toggle="tooltip" data-placement="top" title="{{ hover_definitions['NAVIGATION_PLATFORM_TOOLTIP'] }}">Navigation Platforms</th>
            <th scope="col" data-toggle="tooltip" data-placement="top" title="{{ hover_definitions['CUSTOMER_PRODUCT_TOOLTIP'] }}">Customer Products</th>
            <th scope="col" data-toggle="tooltip" data-placement="top" title="{{ hover_definitions['HERE_PRODUCT_TOOLTIP'] }}">HERE Products</th>
            <th scope="col" data-toggle="tooltip" data-placement="top" title="{{ hover_definitions['COMPONENT_TOOLTIP'] }}">Component</th>
            <th scope="col" data-toggle="tooltip" data-placement="top" title="{{ hover_definitions['PROGRAM_TOOLTIP'] }}">Program</th>
            <th scope="col" data-toggle="tooltip" data-placement="top" title="{{ hover_definitions['BUSINESS_TOOLTIP'] }}">Business Groups</th>
            <th scope="col" data-toggle="tooltip" data-placement="top" title="{{ hover_definitions['SUB_BUSINESS_TOOLTIP'] }}">Sub-Business Groups</th>
          </tr>
          </thead>
        </table>
      </div>
    </div>
    <div id="tab2" class="tab-pane fade">
      <h3>CONDITIONAL SEARCH</h3>
      <div id="productDeliveryConditional"></div>
    </div>
  </div>

</div>
