
/* Browse Pages */

.view-browse-customers,
.view-browse-products,
.view-browse-special-project,
.view-browse-programs,
.view-browse-projects,
.view-browse-tools {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;

  .sticky {
    position: sticky;
    top: 100px;
  }

  .view-header {
    width: 100%;
    text-align: right;
  }

  .view-filters.form-group {
    width: 40%;
    padding-right: 10%;
    flex-grow: 0;

    .form-inline {
      display: flex;
      flex-direction: column;

      >.form-item {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        label {
          margin-bottom: 5px;
        }

        .form-select {
          width: 100%;
        }
      }
    }
  }

  .view-content {
    width: 60%;
  }
}

.view-browse-customer-feedback-audit,
.view-browse-customer-feedback {

  .form--inline.form-inline {
    display: flex;
    flex-direction: column;

    .form-item {
      padding: 5px 0;

      label.control-label {
        width: 20%;
      }
    }

    .btn-info {
      background-color: #00908a;
      border-color: #00908a;


    }

  }
}
