.page-node-type-customer {

  #data-distribution-products-row .field-group-wrapper,
  #details-row .field-group-wrapper {
    display: flex;
    justify-content: space-between;

    .field--name-field-customer-highlights,
    #details-information {
      width: 48%;
      margin: 0 1%;
      flex-grow: 1;
    }

    #details-information {
      .field--label {
        font-size: 16px;
        font-weight: 300;
        padding: 0 .5em 0 0;
      }
    }
  }

  #related-data-row .field-group-wrapper {
    display: flex;
    flex-wrap: wrap;

    .field {
      width: 25%;
      padding: 0 15px 15px 0;
    }
  }

  .title-container {
    padding-left: 0;
  }

  .logo-container {
    padding-right: 0;
    display: flex;
    justify-content: flex-end;

    img {
      max-height: 150px;
    }
  }

  .layout-rows {
    margin-bottom: 75px;
  }

  article.carousel-teaser {
    padding: 0 50px;

    h2 a {
      color: @text-color;

      &:hover,
      &:focus {
        color: @here-dark-aqua;
        .transition(~"color ease-in-out .3s");
      }
    }
  }

  .slick img {
    height: 200px;
    width: auto;
  }

  .content {

    .field--label {
      font-size: 18px;
      padding: 10px 0 5px;
    }
  }

  .paragraph--type--system-vendor-product-bundle.paragraph--view-mode--default {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .right-group,
    .left-group {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .field--name-field-system-vendor,
      .field--name-field-navigation-platform {
        width: 50%;

      }
    }

    .panel-body {
      padding: 15px;
      display: flex;
      flex-direction: row;

      .left-bundle,
      .right-bundle {
        width: 49%;
      }
    }

    .field--name-field-component-program-bundle {
      display: flex;
      flex-wrap: wrap;
      font-size: .9em;

      .field--label {
        font-size: .9em;
      }

      > .field--item {
        width: 30%;
        margin: 0 10px 10px;
      }
    }
  }

  article.special-project.teaser {
    padding: 0 50px;

    .content {
      display: flex;
      justify-content: space-between;

      .field {
        width: 30%;
      }
    }
  }

  .block-views-blockcustomer-audit-feedback-customer-audit, .block-views-blockcustomer-audit-feedback-customer-ice-feedback {
    width: 50%;
    display: table-cell;
    .block-title {
      color: #008e8a;
      text-transform: uppercase;
      border-bottom: 1px solid #e5e6e8;
      padding-bottom: 10px;
      font-size: 24px;
    }
  }
  .block-views-blockcustomer-audit-feedback-customer-special-project {
    .block-title {
      color: #008e8a;
      text-transform: uppercase;
      border-bottom: 1px solid #e5e6e8;
      padding-bottom: 10px;
      font-size: 24px;
    }
  }

}

.paragraph--type--component-program-bundle {
  .panel-default {
    .panel-body {
      padding: 15px;
      display: flex;
      flex-direction: row;

      .left-bundle,
      .right-bundle {
        width: 49%;
      }
    }
  }
}

.field--name-field-component-program-bundle > .field--item {
  margin-bottom: 10px;
}

article.customer.teaser {
/*  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px 0;
  padding: 0 15px 20px;*/

  .content {
    display: flex;
    justify-content: space-between;
    
    .field {
      display: flex;
    }
  }
}

.errorPage {
  background-color: #f0f0f2;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.errorBlock {
  width: 600px;
  margin: 5em auto;
  padding: 50px;
  background-color: #fff;
  border-radius: 1em;
  text-align: center;
}
.errorBlock h1 {
  font-size: 60px;
  color: #777777;
}
.errorBlock h4 {
  font-size: 24px;
color: #CACACA;
margin-bottom: 20px;
}
.errorBlock p {
  color: #b9b9b9;
}



