.region-footer {
  display: flex;
  flex-direction: column;
  height: 200px;
  flex-wrap: wrap;

  #block-footerbranding,
  #block-socialmedialinks {
    width: 25%
  }

  #block-here-bootstrap-footer {
    width: 75%;
  }

  .menu--footer {
    display: flex;
    flex-direction: column;
    height: 200px;
    flex-wrap: wrap;
  }

  #block-footerbranding {
    h2 a {
      font-weight: 100;
    }
  }
}

