header {

  .container {
    width: 100%;

    .region-navigation-collapsible {
      display: flex;
      justify-content: space-around;
    }

    .block-search-form-block {
      width: 25%;
    }

    #search-block-form .form-item {
      margin-bottom: 23px;
      margin-top: 23px;
    }
  }

  .navbar-header {
      .logo {
        margin: 15px 0;
      }
  }

  .dropdown-menu>li>a {
    line-height: 40px;
  }

  .navbar-nav {
    > li > a {

      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        opacity: 0;
        background: @here-dark-aqua;
      }

      &:hover,
      &:focus {
        &:after {
          opacity: 1;
          .transition(~"opacity ease-in-out .3s");
        }
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {

      }
    }

    // Dropdown menu items
    // Remove background color from open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
        &:after {
          opacity: 1;
          .transition(~"opacity ease-in-out .3s");
        }
      }
    }
  }
}


