.page-node-type-landing-page {

  .field--name-field-feature-blocks {
    display: flex;
    margin: 25px 0;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;

    > div {
      margin: 20px 0;
      //max-width: 50%;
    }

    .field--item {
      color: @text-color;
      flex: 1 0 25%;
      //margin: 20px 0;
    }

    article {
      margin: 0 10px;
      height: 100%;

      h3 {
        font-weight: 300;
      }

      .field--name-field-caption,
      h3 {
        padding: 0 10px;
      }

      .content {
        padding-bottom: 20px;
      }

      &:hover h3 .field--name-field-caption-title {
        color: @here-dark-aqua;
        .transition(~"color ease-in-out .3s");
      }

      &:hover img {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }

      &:hover {
        background-color: @lightest-grey;
        .transition(~"background-color ease-in-out .3s");
      }

      .field--name-image.field--type-image {
        overflow: hidden;
        width: 100%;
      }

      .img-responsive {
        width: 100%;
        max-width: 100%;

        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
      }
    }
  }

}

