.page-node-type-product {

  #customers_block .list-group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    font-size: .9em;
    margin-bottom: 0px;

    a.list-group-item {
      margin: 5px;
      border-radius: 4px;

      &:hover {
        color: @here-dark-aqua;
      }
    }
  }

  #customer_block_pagination {
    display: flex;
    justify-content: center;
  }

  .panel-default {
    .panel-body {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .left-bundle {
        width: 48%;
        flex-grow: 1;
      }
      .right-bundle {
        width: 48%;
        flex-grow: 1;
      }
    }
  }

  .field.field--name-field-component-program-bundle {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    display: grid;

    & > .field--item {
      margin: 10px;

      .paragraph--type--component-program-bundle {
        height: 100%;

        .panel-default {
          height: 100%;
        }
      }
    }

    .field--item:nth-last-child(1):nth-child(odd) {
      grid-column: 1 / span 2;
    }
  }

  #details-row .field-group-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .field--name-field-description,
    #region-column {
      width: 48%;
      margin: 0 1%;
      flex-grow: 1;

      .region-children-wrapper {
        display: flex;
        justify-content: space-between;
      }

      img {
        max-width: 100%;
        margin-top: 50px;
      }
    }
  }

  #related-data-row .field-group-wrapper {
    display: flex;
    flex-wrap: wrap;

    .field {
      width: 25%;
      padding: 0 15px 15px 0;
    }
  }

  .field--name-field-product-images {
    .field--items {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .title-container {
    padding-left: 0;
  }

  .logo-container {
    padding-right: 0;
    display: flex;
    justify-content: flex-end;

    img {
      max-height: 150px;
    }
  }

  .layout-rows {
    margin-bottom: 75px;
  }

  article.carousel-teaser {
    padding: 0 50px;

    h2 a {
      color: @text-color;

      &:hover,
      &:focus {
        color: @here-dark-aqua;
        .transition(~"color ease-in-out .3s");
      }
    }
  }

  .slick img {
    height: 200px;
    width: auto;
  }

  .content {

    .field--label {
      font-size: 18px;
      padding: 10px 0 5px;
    }
  }
  .block-views-blockcustomer-audit-feedback-product-ice-feedback {
    .block-title {
      color: #008e8a;
      text-transform: uppercase;
      border-bottom: 1px solid #e5e6e8;
      padding-bottom: 10px;
      font-size: 24px;
    }
  }
}


.page-node-type-customer-product {
  .logo-container {
    padding-right: 0;
    display: flex;
    justify-content: flex-end;

    img {
      max-height: 150px;
    }
  }

  .field.field--name-field-component-program-bundle {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    display: grid;

    & > .field--item {
      margin: 10px;

      .paragraph--type--component-program-bundle {
        height: 100%;

        .panel-default {
          height: 100%;
        }
      }
    }

    .field--item:nth-last-child(1):nth-child(odd) {
      grid-column: 1 / span 2;
    }
  }
}
