.page-node-type-program {

  .logo-container {
    padding-right: 0;
    display: flex;
    justify-content: flex-end;

    img {
      max-height: 150px;
    }
  }

  #details-row .field-group-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .field--name-field-program-description,
    #region-column {
      width: 48%;
      margin: 0 1%;
      flex-grow: 1;

      .region-children-wrapper {
        display: flex;
        justify-content: space-between;
      }

      img {
        max-width: 100%;
        margin-top: 50px;
      }
    }
  }

  #related-data-row .field-group-wrapper {
    display: flex;
    flex-wrap: wrap;

    .field {
      width: 25%;
      padding: 0 15px 15px 0;
    }
  }

  //.title-container {
  //  padding-left: 0;
  //}
  //
  //.logo-container {
  //  padding-right: 0;
  //  display: flex;
  //  justify-content: flex-end;
  //
  //  img {
  //    max-height: 150px;
  //  }
  //}

  .layout-rows {
    margin-bottom: 75px;
  }

  article.carousel-teaser {
    padding: 0 50px;

    h2 a {
      color: @text-color;

      &:hover,
      &:focus {
        color: @here-dark-aqua;
        .transition(~"color ease-in-out .3s");
      }
    }
  }

  .slick img {
    height: 200px;
    width: auto;
  }

  .content {

    .field--label {
      font-size: 18px;
      padding: 10px 0 5px;
    }
  }
}
