.page-node-type-project {

  .field--label {
    font-weight: 400;
    padding-bottom: 10px;
  }

  .needs-label > div:first-child {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
  }

  .needs-label .field--label {
    padding-bottom: 0px;
  }

  #team-information-row .field--label {
    padding-bottom: 0px;
  }

  a {
    font-weight: 300;
  }

  .field--name-field-project-demo {
    .field.field--name-created,
    .field.field--name-uid {
      display: none;
    }
  }

  .field--type-datetime {
    width: 50%;
    text-align: center;
    float: left;
  }

  #process-flow-row {
    .field-group-wrapper {
     display: flex;
      justify-content: space-between;

      .field--name-field-high-level-process-flow,
      .field--name-field-related-tools {
        width: 49%;
      }
    }
  }

  .slick__slider.slick-slider {
    padding: 0 40px;

    .slick__slide.slide.slick-slide {
      padding: 10px 25px 10px 0;
    }
  }

  #documents-row .field-group-wrapper {
    display: flex;
  }

  .field--name-field-metrics-and-target-score {
    .field--items {
      display: table;

      .field--item {
        display: table-row;

        .field--name-field-target-quality-score,
        .field--name-field-project-metrics {
          display: table-cell;
        }
      }
    }
  }
}


.row {
  margin-bottom: 20px;
}

.d-flex {
  display: flex;
}

.d-flex.flex-column {
  flex-direction: column;
}

time.icon
{
  font-size: 1em; /* change icon size */
  display: block;
  position: relative;
  width: 7em;
  height: 7em;
  background-color: #fff;
  margin: 2em auto;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotate(0deg) skewY(0deg);
  -webkit-transform-origin: 50% 10%;
  transform-origin: 50% 10%;
}

time.icon *
{
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon strong
{
  position: absolute;
  top: 0;
  padding: 0.2em 0;
  line-height: 1;
  color: #fff;
  background-color: @here-aqua;
  border-bottom: 1px dashed @here-dark-aqua;
  box-shadow: 0 2px 0 @here-aqua;
}

time.icon em
{
  position: absolute;
  bottom: 0.1em;
  color: @here-aqua;
}

time.icon span
{
  width: 100%;
  font-size: 2.8em;
  letter-spacing: -0.05em;
  padding-top: 1.2em;
  color: #2f2f2f;
}

time.icon:hover, time.icon:focus
{
  cursor: default;
  -webkit-animation: swing 0.6s ease-out;
  animation: swing 0.6s ease-out;
}

@-webkit-keyframes swing {
  0%   { -webkit-transform: rotate(0deg)  skewY(0deg); }
  20%  { -webkit-transform: rotate(12deg) skewY(4deg); }
  60%  { -webkit-transform: rotate(-9deg) skewY(-3deg); }
  80%  { -webkit-transform: rotate(6deg)  skewY(-2deg); }
  100% { -webkit-transform: rotate(0deg)  skewY(0deg); }
}

@keyframes swing {
  0%   { transform: rotate(0deg)  skewY(0deg); }
  20%  { transform: rotate(12deg) skewY(4deg); }
  60%  { transform: rotate(-9deg) skewY(-3deg); }
  80%  { transform: rotate(6deg)  skewY(-2deg); }
  100% { transform: rotate(0deg)  skewY(0deg); }
}

.wrap-terms {

  .field--items {
    display: flex;
    flex-direction: row;
    flex-basis: 0;
    flex-wrap: wrap;
  }

  .field--items .field--item {
    width: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 25px;
    white-space: nowrap;
  }

}

.field--name-field-related-images {
  display: flex;
  flex-direction: row;
  flex-basis: 0;
  flex-wrap: wrap;
  justify-content: space-between;

  .field--item {
    width: 33%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 25px;
    white-space: nowrap;
  }

}
