body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  color: @text-color;
  line-height: 24px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 300;
}

label,
.field--label {
  font-weight: 300;
  font-size: 16px;
}

.field-group-toggler {
  text-transform: uppercase;
  border-bottom: 1px solid @here-25-grey;
  padding-bottom: 10px;
}

#backtotop {
  background-size: 50px;
}

a:hover, a:focus {
  color: @here-dark-aqua;
  text-decoration: none;

  .transition(~"color ease-in-out .3s");
}

.breadcrumb {
  background-color: @lightest-grey;
}

.slick-arrow::before {
  color: @here-grey;
}

.ui-autocomplete.ui-widget-content {
  font-weight: 300;

  li {
    padding: 0;
  }

  a.ui-menu-item-wrapper {
    font-weight: 300;
    width: 100%;
    display: block;
    padding: 3px 1em 3px 1.6em;
    margin: 0;
  }

  .ui-state-active {
    border: none;
    background-color: @here-75-grey;
  }
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: @here-75-grey !important;
  color: white;
}

