.page-node-type-special-project {
		#data-distribution-products-row .field-group-wrapper,
	    #details-row .field-group-wrapper {
		      word-break: break-all;
			        .field {
								word-break: break-all;
									.field--label {
										font-size: 24px;
										margin-top: 20px;
    								margin-bottom: 10px;
									}
					          }
								}
			#special-projects-additional-details .field-group-wrapper {
						.field {
							.field--label {
								font-size: 16px;
								padding: 0 5px 0 0;
							}
						}
			}
			

						      #related-data-row .field-group-wrapper {
							          display: flex;
								      flex-wrap: wrap;

								          .field {
										        width: 25%;
											      padding: 0 15px 15px 0;
											          }
												    }

												      .title-container {
													          padding-left: 0;
														    }

														      .logo-container {
															          padding-right: 0;
																      display: flex;
																          justify-content: flex-end;

																	      img {
																		            max-height: 150px;
																			        }
																				  }

																				    .layout-rows {
																					        margin-bottom: 75px;
																						  }

																						    article.carousel-teaser {
																							        padding: 0 50px;

																								    h2 a {
																									          color: @text-color;

																										        &:hover,
																											      &:focus {
																												              color: @here-dark-aqua;
																													              .transition(~"color ease-in-out .3s");
																														            }
																															        }
																																  }

																																    .slick img {
																																	        height: 200px;
																																		    width: auto;
																																		      }

																																		        .content {

																																				    .field--label {
																																					          font-size: 18px;
																																						        padding: 10px 0 5px;
																																							    }

																																							        .field--name-field-customer-segment,
																																								    .field--name-field-industry,
																																								        .field--name-field-top-30 {
																																										      display: none;
																																										          }
																																											    }

																																										    }

