.page-node-type-tools {

  .field--label {
    font-weight: 400;
    padding-bottom: 10px;
  }

  .video-embed-field-responsive-video {
    position: relative;
  }

  .field--label {
    font-weight: 400;
  }

  a {
    font-weight: 300;
  }

  #header-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;

  }

  #title {
    flex: 2.5 0 0;
    padding: 0 40px 0 0;
  }

  #heading_fields {
    flex: 1 0 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: flex-end;
    justify-content: right;
    width: 100%;
    padding: 10px 0 10px 0;

    > * {
      flex-basis: 100%;
      flex-grow: 0;
      flex-shrink: 2;
    }

    .field {
      height: max-content;
    }

    .field--label {
      font-size: 16px;
      padding-bottom: 0px;
    }
  }

  .main-container .col-sm-12 .region-content {

    #tool-description .field-group-wrapper {

      #desc-field {
        padding: 10px 0 10px 0;
      }

      #misc-fields {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 0 10px 0;

        .field {
          padding: 0 15px 30px 0;
        }

        > div {
          flex: 0 40%;
        }
      }

      #confluence-link {
        padding: 0 0 30px 0;
        font-size: 16px;
      }

      .field {
        padding: 0 15px 30px 0;
      }

      .field--item {
        padding: 0 15px 0 0;
        font-weight: 200;
      }
    }


    #inputs-outputs .field-group-wrapper {

      padding: 20px 0 20px 0;

      #io_block #io_table_wrapper {

        #io_table_filter {
          display: flex;
          align-items: center;
          justify-content: space-around;

          #dropdown {
            padding: 6px 12px;
          }
        }

        .dataTables_filter {
          label {
            width: 50%;
          }

          select {
            width: 50%;
            margin-bottom: 5px;
          }
        }

        label {
          display: flex;
          align-items: center;

          select {
            margin-left: .5rem;
            margin-right: .5rem;
          }
        }

        table {

          width: 100%;

          th {
            font-size: 18px;
          }
          td {
            font-size: 12px;

            #input_fields {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              flex-wrap: nowrap;

              img {
                padding: 0 10px 0 0;
              }
              a {
                padding: 0 10px 0 0;
              }
            }
          }
        }
      }
    }

    #bugs-enhancements .field-group-wrapper {
      display: flex;

      .field--type-link {
        width: 50%;
      }

      .field {
        padding: 10px 0 30px 0;
        font-size: 16px;
      }
    }

    #training-installation .field-group-wrapper {

      .field.field--name-field-training-modules-video.field--type-video-embed-field {

        .field--items {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;

          .field--item {
            width: 50%;
          }
        }
      }

      .field {
        padding: 10px 15px 20px 0;
      }

      .field--name-field-training-modules-video {
        .field--item {
          padding: 0 15px 15px 0;
          font-weight: 200;
        }
      }

      .field--label {
        padding: 0 0 10px 0;
        font-weight: 400;
        font-size: 18px;
      }

      #install-link {
        font-size: 16px;
        padding: 10px 0 30px 0;
      }

      #training-files {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 20px 0 25px 0;
        justify-content: flex-start;
        align-items: center;

        #misc-files .field{
          font-weight: 300;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;
        }

        #video .field {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
        }
      }
    }
  }

  .wrap-terms {

    .field--items {
      display: flex;
      flex-direction: row;
      flex-basis: 0;
      flex-wrap: wrap;
    }

    .field--items .field--item {
      width: 25%;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 25px;
      white-space: nowrap;
    }

  }
}

img.image-button:hover {
  opacity: .7;
  cursor: pointer;
}

.modal-header h5 {
  float: left;
  margin: 0;
  font-weight: 400;
}

.modal-body.ui-dialog-content {
  justify-content: space-around;
  display: flex;
  margin: 20px;
}

ul.two-pane-list {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
}

.field--name-field-main-attributes {
  .nav-tabs {
    border-bottom-color: #ffffff;
  }

  .nav-pills>li+li {
    margin-left: 0;
    margin-top: 5px;
  }

  .nav-tabs>li>a,
  .nav-tabs>li>a:hover {
    border-color: #fff #fff #fff;
  }
}

.field.field--type-file {
  .field--item {
    border-bottom: 1px solid #e5e6e8;
  }

  .document-row {
    height: 60px;
    line-height: 60px;

    i[class*=" fa-file-"] {
      font-size: 32px;
      vertical-align: middle;
    }

    a {
      vertical-align: middle;
      padding: 0 15px;
    }

    .download-link {
      float: right;
    }
  }
}
