// Variables

// Here Specific Colors
// -----------------------------------------------------------------------------
@text-color                     : #3f454d;
@lightest-grey                  : #F6F7F9;

@here-aqua                      : #48dad0;
@here-dark-aqua                 : #00afaa;
@here-darker-aqua               : #00908a;
@here-75-aqua                   : #76e3dc;
@here-50-aqua                   : #a3ece7;
@here-25-aqua                   : #d1f6f3;

@here-grey                      : #383c45;
@here-dark-grey                 : #0f1621;
@here-75-grey                   : #6a6d74;
@here-50-grey                   : #9b9da2;
@here-25-grey                   : #e5e6e8;
@here-white                     : #ffffff;

@here-red                       : #c41c33;
@here-75-red                    : #d35566;
@here-50-red                    : #e18d99;

@here-pink                       : #c53580;
@here-75-pink                    : #d468a0;
@here-50-pink                    : #e29abf;

@here-orange                     : #ec610e;
@here-75-orange                  : #f1894a;
@here-50-orange                  : #f5b086;

@here-yellow                     : #fab800;
@here-75-yellow                  : #fbca40;
@here-50-yellow                  : #fcdb7f;

@here-dark-green                 : #70943c;
@here-75-dark-green              : #94af6d;
@here-50-dark-green              : #b7c99d;

@here-light-green                : #06b87c;
@here-75-light-green             : #44ca9d;
@here-50-light-green             : #82dbbd;

@here-dark-blue                  : #3f59a7;
@here-75-dark-blue               : #6f83bd;
@here-50-dark-blue               : #9facd3;

@here-light-blue                 : #52a3db;
@here-75-light-blue              : #7dbae4;
@here-50-light-blue              : #a8d1ed;

@here-purple                     : #673a93;
@here-75-purple                  : #8d6bae;
@here-50-purple                  : #b39cc9;

// General Site Specific
// -----------------------------------------------------------------------------

