#io_table_wrapper .col-md-6 select.form-control {
  width: 15%;
  margin: 0 5px;
}

#io_table_wrapper .col-md-6 input.form-control {
  width: 100%;
  margin-left: 5px;
}

#io_table_filter {
  justify-content: flex-end;
  display: flex;
}

#io_table th {
  font-weight: 200;
}
