{#
/**
 * @file
 * Default theme implementation to display a Bootstrap Carousel entities and medias formatter.
 *
 * Available variables:
 * - entities: A collection of Entities used as slides.
 * - interval: The slider interval duration time in milliseconds.
 * - carousel_id: The carousel CSS ID.
 *
 * @see template_preprocess_bootstrap_ce_formatter()
 *
 * @ingroup themeable
 */
#}

{%  if entities %}
<div id="{{ carousel_id }}" class="carousel slide" data-ride="carousel" data-interval="{{ interval }}" data-pause="hover" data-wrap="true">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for entity in entities %}
      {% if loop.first %}
        <li data-target="#{{ carousel_id }}" data-slide-to="0" class="active"></li>
        {% else %}
        <li data-target="#{{ carousel_id }}" data-slide-to="{{loop.index - 1}}"></li>
        {% endif %}
      {% endfor %}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    {% for entity in entities%}
      {% if loop.first %}
        <div class="item active">
        {% else %}
          <div class="item">
          {% endif %}
          {{ entity }}
        </div>
      {% endfor %}
  </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#{{ carousel_id }}" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">{{ 'Previous' | t() }}</span>
    </a>
    <a class="right carousel-control" href="#{{ carousel_id }}" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">{{ 'Next' | t() }}</span>
    </a>
  </div>
{% endif %}
