{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @ingroup templates
 *
 * @see template_preprocess_field()
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field--label',
    label_display == 'visually_hidden' ? 'sr-only',
  ]
%}

{% if label_hidden %}
  {% if multiple %}
    <div{{ attributes.addClass(classes, 'field--items') }}>

      <div class="d-flex col-lg-12">
        <div class="col-lg-4 field--label">Attribute Groups</div>
        <div class="col-lg-8 field--label">Main Attributes</div>
      </div>
      <div class="d-flex col-lg-12">
        <ul class="nav nav-tabs col-lg-4 d-flex flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

          {% for key,value in grouped_items %}
            {% if loop.first %}
              <li class="nav-item active"><a class="nav-link" id="{{ key|replace(' ', '-') }}-tab" data-toggle="pill" href="#{{ key|replace(' ', '-') }}" role="tab" aria-controls="{{ key|replace(' ', '-') }}" aria-selected="true">{{ key }}</a></li>
            {% else %}
              <li class="nav-item"><a class="nav-link" id="{{ key|replace(' ', '-') }}-tab" data-toggle="pill" href="#{{ key|replace(' ', '-') }}" role="tab" aria-controls="{{ key|replace(' ', '-') }}" aria-selected="true">{{ key }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
        <div class="col-lg-8 tab-content" id="v-pills-tabContent">

          {% for key,value in grouped_items %}
            {% if loop.first %}
              <div class="tab-pane fade active in" id="{{ key|replace(' ', '-') }}" role="tabpanel" aria-labelledby="{{ key|replace(' ', '-') }}-tab">
                <ul class="two-pane-list">
                  {% for term in value %}
                    <li>{{ term }}</li>
                  {% endfor %}
                </ul>
              </div>
            {% else %}
              <div class="tab-pane fade" id="{{ key|replace(' ', '-') }}" role="tabpanel" aria-labelledby="{{ key|replace(' ', '-') }}-tab">
                <ul>
                  {% for term in value %}
                    <li>{{ term }}</li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          {% endfor %}

        </div>
      </div>

    </div>
  {% else %}
    {% for item in items %}
      <div{{ attributes.addClass(classes, 'field--item') }}>{{ item.content }}</div>
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes.addClass(classes) }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% if multiple %}
      <div class="field--items">
    {% endif %}
    {% if multiple %}
      </div>
    {% endif %}
  </div>
{% endif %}
