{#
/**
 * @file
 * Theme override for a link to a file.
 *
 * Available variables:
 * - attributes: The HTML attributes for the containing element.
 * - link: A link to the file.
 * - icon: An icon.
 * - icon_only: Flag to display only the icon and not the label.
 * - icon_position: Where an icon should be displayed.
 *
 * @ingroup templates
 *
 * @see \Drupal\bootstrap\Plugin\Preprocess\FileLink::preprocessVariables
 */
#}
{% spaceless %}
  {%
    set classes = [
      icon_only ? 'icon-only',
      not icon_only ? 'icon-' ~ icon_position|clean_class
    ]
  %}
  <div class="document-row"{{ attributes.addClass(classes) }}>
    {% if icon_only %}
      <i class="far fa-file-alt"></i>
      <span class="sr-only">
        <span class="file-link">{{ link }}</span>
      </span>
    {% else %}
      {% if icon_position == 'after' %}
        <span class="file-link">{{ link }}</span><i class="far fa-file-alt"></i>
      {% else %}
          <i class="fa fa-{{ file_icon }}"></i>
          <a href="{{ link.url }}" download>{{ link.text }}</a>
          <span class="download-link"><a href="{{ link.url }}" download><i id="download" class="fas fa-download"></i></a></span>
      {% endif %}
    {% endif %}
  </div>
{% endspaceless %}
