{#
/**
 * @file
 * Default theme implementation for page titles.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page_title()
 */
#}
{% set entityType = node.type.entity.label %}
{% if entityType == 'Customer' %}

    {% if title %}
      <div class="col-sm-6 title-container">
        <h1{{ title_attributes.addClass('page-header') }}>{{ title }} </h1>
        {#<div class="field--label">{{ entityType }}</div>#}
        {#{% if node.field_industry %} {{ drupal_field('field_industry', 'node', node.id) }} {% endif %}#}
        {#{% if node.field_customer_segment %} {{ drupal_field('field_customer_segment', 'node', node.id) }} {% endif %}#}
        {#{% if node.field_top_30 %} {{ drupal_field('field_top_30', 'node', node.id) }} {% endif %}#}
      </div>
      <div class="col-sm-6 logo-container">
        {% if image %} <img src="{{ image }}"> {% endif %}
      </div>
    {% endif %}

{% elseif entityType == 'Product' %}

    {% if title %}
      <div class="col-sm-6 title-container">
        <h1{{ title_attributes.addClass('page-header') }}>{{ title }} </h1>
        {% if node.field_product_line %} {{ drupal_field('field_product_line', 'node', node.id) }} {% endif %}
        {#{% if node.field_here_release_date %} {{ drupal_field('field_here_release_date', 'node', node.id) }} {% endif %}#}
      </div>
      <div class="col-sm-6 logo-container">
        {% if image %} <img src="{{ image }}"> {% endif %}
      </div>
    {% endif %}

{% elseif entityType == 'Tools' %}

  {% if title %}
    <div id="header-container">
    <div id="title" class="col-sm-6 title-container">
      <h1{{ title_attributes.addClass('page-header') }}>{{ title }}

    {% if node.field_software_type.value == 'Web-based' %}
      <i class="fas fa-globe"></i>
    {% elseif node.field_software_type.value == 'Installation' %}
        <i class="fas fa-download"></i>
    {% endif %}

      </h1>
      {% if node.field_tool_name %} {{ drupal_field('field_tool_name', 'node', node.id) }} {% endif %}
      {#{% if node.field_here_release_date %} {{ drupal_field('field_here_release_date', 'node', node.id) }} {% endif %}#}
    </div>
    <div id="heading_fields" class="col-sm-6 title-container">
      {% if node.field_proprietary %} {{ drupal_field('field_proprietary', 'node', node.id) }} {% endif %}
      {% if node.field_tool_owner %} {{ drupal_field('field_tool_owner', 'node', node.id) }} {% endif %}
      {% if node.field_software_type %} {{ drupal_field('field_software_type', 'node', node.id) }} {% endif %}
      {% if node.field_contact_support_team %} {{ drupal_field('field_contact_support_team', 'node', node.id) }} {% endif %}
      {% if node.field_installation_link %} {{ drupal_field('field_installation_link', 'node', node.id) }} {% endif %}

    </div>
    </div>
  {% endif %}

{% elseif (entityType == 'Program' or entityType == 'Customer Product') %}
  {% if title %}
    <div class="col-sm-6 title-container">
      <h1{{ title_attributes.addClass('page-header') }}>{{ title }} </h1>
    </div>
    <div class="col-sm-6 logo-container">
      {% if image %} <img src="{{ image }}"> {% endif %}
    </div>
  {% endif %}

{% else %}

    {% if title %}
      <h1{{ title_attributes.addClass('page-header') }}>{{ title }} </h1>
    {% endif %}

{% endif %}
