/**
 * Variable Overrides.
 *
 * Modify this file to override the Bootstrap Framework variables. You can copy
 * these variables directly from ../bootstrap/less/variables.less to this file.
 */

// Set the directory for the theme root used to locate images, fonts etc.
@theme-root: '..';

// Set other directories relative to theme root.
@image-path: '@{theme-root}/images';
@icon-font-path: '@{theme-root}/bootstrap/fonts/';

@gray-base:              #383c45;
@brand-primary:         darken(@here-dark-aqua, 6.5%);
@font-family-sans-serif:  "Fira Sans", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;

@navbar-height:                    79px;


@navbar-default-color:              @here-75-grey;
@navbar-default-bg:                 #ffffff;
@navbar-default-border:             darken(@navbar-default-bg, 6.5%);
@navbar-default-link-active-bg:     #fff;
@navbar-default-link-active-color:  @here-dark-aqua;
