table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_desc_disabled:after {
  right: 10px !important;
}

div.dataTables_wrapper div.dataTables_length label {
  display: flex;
}


div.dataTables_wrapper div.dataTables_length select {
  margin: 0 10px;
  height: 25px;
}

/*button.trigger.focusable.visually-hidden {*/
  /*display: none !important;;*/
/*}*/

div.dataTables_wrapper div.dataTables_filter label, div.dataTables_wrapper div.dataTables_length label {
  font-weight: 300 !important;
}

div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate {
  font-weight: 300 !important;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus,
.pagination .page-item.active .page-link {
  background-color: #008e8a!important;
}

.pagination .page-item.active .page-link:hover {
  background-color: #008e8abf!important
}

.btn-primary {
   background-color: #008e8a!important;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
  margin: 0;
}

.fa, .far, .fas {
  font-family: FontAwesome !important;
}

.btn {
  font-weight: 200;
}

.btn.btn-primary.form-check-label {
  background-color: #008e8abf!important
}

.list-group-item-heading {
  background-color: #e6e6e6 !important;
  font-weight: 400;
}

#conditionalTable {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#productDeliveryConditional {
  display: flex;
  font-size: .85em;
  justify-content: space-between;
}

.list-group {
  flex-basis: 10.5%;
}

.tab-pane .list-group-item {
  padding: 5px 10px !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 120px;
  overflow: hidden;
}

#lifeCycleContainer {
  display: flex;
  justify-content: space-between;
}

#lifeCycleContainer .list-group-item {
  border-radius: 4px
}

.navbar {
  box-shadow: none!important;
}

.navbar .dropdown-menu a {
  padding: 3px 20px;
  font-size: 14px;
}

table.table a {
  color: #008e8a !important;
}

#lifeCycleContainer a.list-group-item {
  color: #008e8a;
}


#ajaxThrobber .ajax-throbber {
  text-align: center;
  margin: 25px auto;
}

table#programsTable th,
table#productsTable th {
  font-size: 1.3rem !important;
}
table#programsTable td,
table#productsTable td {
  font-size: 1.2rem !important;
}
