<div id="programs_block">
  <table id="programsTable" class="table table-sm table-striped table-bordered">
      <thead>
        <tr>

          {% if node_type == 'customer' %}
            <th scope="col" data-toggle="tooltip" data-placement="top" title="{{ hover_definitions['PROGRAM_TOOLTIP'] }}">Programs</th>
            <th scope="col" data-toggle="tooltip" data-placement="top" title="{{ hover_definitions['HERE_PRODUCT_TOOLTIP'] }}">HERE Products</th>
            <th scope="col" data-toggle="tooltip" data-placement="top" title="{{ hover_definitions['CUSTOMER_PRODUCT_TOOLTIP'] }}">Customer Products</th>
            <th scope="col" data-toggle="tooltip" data-placement="top" title="{{ hover_definitions['DELIVERY_MODEL_TOOLTIP'] }}">Type</th>
            <th scope="col" data-toggle="tooltip" data-placement="top" title="{{ hover_definitions['SYSTEM_VENDOR_TOOLTIP'] }}">System Vendors</th>
            <th scope="col" data-toggle="tooltip" data-placement="top" title="{{ hover_definitions['NAVIGATION_PLATFORM_TOOLTIP'] }}">Navigation Platforms</th>
          {% endif %}

          {% if node_type == 'program' %}
            <th scope="col" data-toggle="tooltip" data-placement="top" title="{{ hover_definitions['HERE_PRODUCT_TOOLTIP'] }}">HERE Products</th>
            <th scope="col" data-toggle="tooltip" data-placement="top" title="{{ hover_definitions['CUSTOMER_PRODUCT_TOOLTIP'] }}">Customer Products</th>
            <th scope="col" data-toggle="tooltip" data-placement="top" title="{{ hover_definitions['DELIVERY_MODEL_TOOLTIP'] }}">Type</th>
            <th scope="col" data-toggle="tooltip" data-placement="top" title="{{ hover_definitions['CUSTOMER_TOOLTIP'] }}">Customers</th>
            <th scope="col" data-toggle="tooltip" data-placement="top" title="{{ hover_definitions['SYSTEM_VENDOR_TOOLTIP'] }}">System Vendors</th>
            <th scope="col" data-toggle="tooltip" data-placement="top" title="{{ hover_definitions['NAVIGATION_PLATFORM_TOOLTIP'] }}">Navigation Platforms</th>
          {% endif %}

        </tr>
      </thead>
  </table>
  <div id="ajaxThrobber" class="throbber-example">
    <div class="ajax-throbber sk-three-bounce">
      <div class="sk-child sk-bounce1"></div>
      <div class="sk-child sk-bounce2"></div>
      <div class="sk-child sk-bounce3"></div>
    </div>
  </div>
</div>
