<div id="products_block">
  <table id="productsTable" class="table table-sm table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col" data-toggle="tooltip" data-placement="top" title="{{ hover_definitions['CUSTOMER_PRODUCT_TOOLTIP'] }}">Products</th>
        <th scope="col" data-toggle="tooltip" data-placement="top" title="{{ hover_definitions['DELIVERY_MODEL_TOOLTIP'] }}">Type</th>
        <th scope="col" data-toggle="tooltip" data-placement="top" title="{{ hover_definitions['CUSTOMER_TOOLTIP'] }}">Customers</th>
        <th scope="col" data-toggle="tooltip" data-placement="top" title="{{ hover_definitions['SYSTEM_VENDOR_TOOLTIP'] }}">System Vendors</th>
        <th scope="col" data-toggle="tooltip" data-placement="top" title="{{ hover_definitions['NAVIGATION_PLATFORM_TOOLTIP'] }}">Navigation Platforms</th>
        <th scope="col" data-toggle="tooltip" data-placement="top" title="{{ hover_definitions['PROGRAM_TOOLTIP'] }}">Programs</th>
      </tr>
    </thead>
  </table>
</div>
