<div id="customers_block">
  {#<input class="form-control" id="filterCustomers" type="text" placeholder="Search list of customers...">#}
  <div id="customer_block_pagination"></div>
  <div id="paginatorContent"></div>
</div>
